@import "../../configs/configs.styles.scss";
@import "../../configs/mixins.scss";

h2 {
  color: $color-main-dark;
  margin-bottom: $margin-bottom-sm;
}

.section-about-me {
  margin-bottom: $margin-bottom-big;

  .about-me-text {
    background-color: rgba($color-accent-light, 0.5);
    padding: 3rem 6rem;
    box-shadow: 0 0.5rem 1rem rgba($color-white, 0.2);
    border-radius: 0.3rem;
    font-size: 1.6rem;
    width: 100rem;
    margin: 0 3rem;
  }

  .about-me-photo {
    height: 27rem;
    border-radius: 50%;
    // transform: translateX(35%);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    //   transform: translateX(50%);
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  .about-me-photo:hover {
    filter: grayscale(20%);
    -webkit-filter: grayscale(20%);
    -moz-filter: grayscale(20%);
    //   transform: translateX(50%);
  }
}

.btn-cv {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

.btn-cv {
  position: relative;
  font-weight: 300;
  font-size: 1.4rem;
  align-items: center;
  border-radius: 0.2rem;
}

.btn-cv span {
  margin: 0;
  position: relative;
  font-size: 1.4rem;
  padding: 2px;
  color: $color-main-dark;
}

.btn-cv::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -0.7rem;
  background: $color-accent;
  height: 0.2rem;
  transition: 0.3s ease-out;
}

.btn-cv:hover::after {
  width: 100%;
}

.skill-container {
  width: 100%; /* Full width */
  background-color: #ddd; 
  font-size: 1.2rem;
}

.skills {
  font-size: 1.2rem;
  text-align: right; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  color: $color-main-light; /* White text color */
  display: inline-block;
}

.html {width: 90%; background-color: $color-accent} 
.js {width: 50%; background-color: $color-accent } 
.react {width: 50%; background-color:$color-accent} 
.web-design{width: 60%; background-color: $color-accent}