@import "../../configs/configs.styles.scss";
@import "../../configs/mixins.scss";

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-background-dark;
  border-radius: 0.2rem;
  padding: 3rem;
  height: 70rem;
  width: 80rem;
  border: 0.2rem solid $color-accent !important;
  font-size: 1.4rem;
}

.btn-submit {
  margin-top: 1rem;
//   font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  background: $color-main-light;
  color: $color-text;
  padding: 0.7rem 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid $color-main-dark;
  border-radius: 0.2rem;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-submit:hover {
  border: 0.1rem solid $color-accent;
  background: #00000000;
  color: $color-main-light;
}

.btn-submit:active {
  border: 0.1rem solid $color-main;
  background: $color-main-dark;
  color: $color-background;
}
.submit-message {
    font-size: 1.4rem;
    color: $color-main-light;
    padding-bottom: 0.5rem;
}

label {
    font-size: 1.4rem;
    color: $color-main-light;
    padding-bottom: 0.5rem;
}

input {
  width: calc(100% - 1rem);
  padding: 1rem 5rem;
  margin-bottom: 2rem;
  border: none;
  border-bottom: 0.1rem solid $color-accent;
  outline: none;
  background-color: rgba($color-accent-light, 0.5);
  color: $color-main-dark;
//   font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

input:focus {
  border: 0.1rem solid #66da4300;
  border-bottom: 0.1rem solid $color-main-dark;
  background-color: rgba($color-accent-light, 0.9);
  color: $color-text;
}

input::placeholder {
  color: $color-background;
}

textarea {
  width: calc(100% - 1rem);
  padding: 1rem 5rem;
  height: 10rem;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid $color-main-dark;
  border-radius: 0.2rem;
  outline: none;
  background-color: rgba($color-accent-light, 0.5);
  color: $color-text;
  border-bottom: $color-accent;
}

textarea::placeholder {
  color: $color-background;
  content: "Please leave me a message";
}

textarea:focus {
  border: 0.1rem solid $color-accent;
  background-color: rgba($color-accent-light, 0.9);
  color: $color-text;
}