$color-main: #6c757d;
$color-main-dark: #343a40;
$color-main-light: #ced4da;
$color-accent: #007200;

$color-background: #fefefe;
$color-background-dark: #ececec;

$color-black: #000;
$color-white: #e5e5e5;

$color-text: #212529;

$margin-top-big: 6rem;
$margin-top-sm: 3rem;

$margin-bottom-big: 12rem;
$margin-bottom-sm: 3rem;