$color-main: #ff9505;
$color-main-dark: #f77f00;
$color-main-light: #ffdd00;

$color-background: #000;

$color-black: #000;
$color-white: #e9ecef;

$color-text: #f8f9fa;

$margin-top-big: 6rem;
$margin-top-sm: 3rem;

$margin-bottom-big: 12rem;
$margin-bottom-sm: 3rem;