@import "../../configs/configs.styles.scss";

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: $color-background-dark;
  border-radius: 15px;
  padding: 30px;
  width: 500px;
  height: 450px;
}

.form::before {
  content: '';
  background-image: linear-gradient(45deg, $color-accent, 
  $color-main-light);
  height: 456px;
  width: 506px;
  position: absolute;
  margin-top: -34px;
  margin-left: px;
  z-index: -1;
  border-radius: 17px;
}

.btn-submit {
  margin-top: 10px;
//   font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  background: $color-main-light;
  color: black;
  padding: 0.7em 5.5em;
  display: flex;
  align-items: center;
  border: 2px solid #66da4300;
  border-radius: 5em;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-submit:hover {
  border: 2px solid $color-accent;
  background: #00000000;
  color: $color-main-dark;
}

.btn-submit:active {
  border: 2px solid #66da4300;
  background: $color-main-dark;
  color: $color-background;
}

input {
  width: calc(100% - 10px);
  padding: 10px 50px;
  margin-bottom: 20px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid $color-accent;
  outline: none;
  background-color: transparent;
  color: $color-main-dark;
//   font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

input:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid $color-main-dark;
  background-color: transparent;
  color: $color-text;
}

input::placeholder {
  color: $color-background;
}

textarea {
//   font-family: Arial, Helvetica, sans-serif;
  width: calc(100% - 10px);
  padding: 10px 50px;
  height: 100px;
  margin-bottom: 20px;
  border: 1px solid #66da4300;
  border-bottom: 1px solid $color-main-dark;
  outline: none;
  background-color: transparent;
  color: $color-main-dark;
}

textarea::placeholder {
  color: $color-background;
  content: "Please leave me a message";
}

textarea:focus {
  border: 1px solid #66da4300;
  border-bottom: 1px solid $color-main-dark;
  background-color: transparent;
  color: $color-text;
}