@import "../../configs/configs.styles.scss";
@import "../../configs/mixins.scss";

.section-cta {
  height: 85vh;
  display: flex;
  gap: 2.5rem;
  margin-bottom: $margin-bottom-big;
  margin-top: 16rem;
   background-image: linear-gradient(
      to right bottom,
      rgba($color-main-light, 0.5),
      rgba($color-main-dark, 0.5)
    ),
    url("/img/card-container.jpg");

  background-size: cover;
  justify-content: center;
  align-items: center;
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
    height: 95vh;
  }
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-text {
  $t: 1s;
$d: 0.08em;
$n: 3;

.popout {
	font-weight: 400;
	font-size: 7rem;
	padding: 7rem;

	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $color-main-light;
			color: $color-main-dark;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $color-main-light;
			color: $color-main-dark;
		}
		70%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $color-main-light;
			color: $color-main-dark;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $color-main-light;
			color: $color-main-dark;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate cubic-bezier(0.860, 0.000, 0.070, 1.000);
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}
	}
	
}
}