@import "../../configs/configs.styles.scss";
@import "../../configs/mixins.scss";

.section-header {
  height: 85vh;
  // display: float;
  // width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-main-light, 0.5),
      rgba($color-main-dark, 0.5)
    ), url("/img/bg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  margin-bottom: $margin-bottom-big;

   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 51% 100%, 0 75);
    clip-path: polygon(0 0, 100% 0%, 100% 75%, 51% 100%, 0 75%);
    height: 95vh;
}
}

// h1 {
//   font-size: 70px;
//   font-weight: 400;
//   text-align: center;
//   // padding-top: 6rem;
//   // padding-bottom: 2rem;
//   margin-top: $margin-top-big;
  // background-image: linear-gradient(
  //   to left,
  //   $color-main-dark,
  //   $color-main-light
  // );
  // color: transparent;
  // background-clip: text;
  // -webkit-background-clip: text;
   
// }

.icons-box {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  position: absolute;
  left: -45%;
  top: 15%;
  //   margin-left: 50px;
}

.icon-link {
  text-decoration: none;
  color: $color-text;
  padding: 0.5rem 1rem;
  

.icon {
  border-radius: 50%;
  padding: 0.3rem;
  height: 4rem;
  width: 4rem;
}

}

.icon:hover {
  background-image: linear-gradient(
    to right,
    
    $color-main,
    $color-accent
  );
  color: $color-background;
  border-radius: 50%;
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}


.header-text {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(
    to left,
    $color-main-dark,
    $color-main
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeIn 2s ease-out 0.5s;
}

.sub-heading {
  text-align: center;
  color: $color-accent;
  font-size: 2.4rem;
  font-weight: 300;
}

