@import "../../configs/configs.styles.scss";

.section-header {
  height: 100vh;
  // display: float;
  // width: 100%;
  background-image: url("/img/bg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  position: relative;
}

// h1 {
//   font-size: 70px;
//   font-weight: 400;
//   text-align: center;
//   // padding-top: 6rem;
//   // padding-bottom: 2rem;
//   margin-top: $margin-top-big;
  // background-image: linear-gradient(
  //   to left,
  //   $color-main-dark,
  //   $color-main-light
  // );
  // color: transparent;
  // background-clip: text;
  // -webkit-background-clip: text;
   
// }

.header-text {
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  background-image: linear-gradient(
    to left,
    $color-main-dark,
    $color-main
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub-heading {
  text-align: center;
  color: $color-accent;
  font-size: 25px;
  font-weight: 300;
}

.icons-box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: absolute;
  left: -45%;
  top: 25%;
  //   margin-left: 50px;
}

.icon-link {
  text-decoration: none;
  color: $color-text;
  padding: 5px 10px;
}

.icon {
  border-radius: 50%;
  padding: 3px;
}

.icon:hover {
  background-image: linear-gradient(
    to right,
    
    $color-main,
    $color-accent
  );
  color: $color-background;
  border-radius: 50%;
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
