@import "./configs/configs.styles.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-text;
  background-color: $color-background;
  // background-image: url("./img/bg.svg");
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
}

div {
  width: 100%vw;
  margin: 0 auto;
}

footer {
  margin-top: 80px;
  text-align: center;
}


